/* Estilo general del cuerpo */
body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #1e1e1e;
    color: #c5c6c7;
}

/* Estilo del encabezado */
header {
    background-color: #0b0c10;
    padding: 20px;
    text-align: center;
    border-top: 3px solid #45a29e;
    border-bottom: 3px solid #45a29e;  
}

header h1 {
    color: #66fcf1;
    margin: 0;
    font-size: 2.5rem;
}

/* Estilo del menú de navegación */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #66fcf1;
    font-weight: bold;
    padding: 10px 15px;
    border: 2px solid transparent;
    transition: border-color 0.3s;
}

nav ul li a:hover {
    border-bottom: 2px solid #45a29e;
}

/* Estilo de las secciones principales */
main {
    padding: 20px;
}

section h2 {
    color: #45a29e;
    border-bottom: 2px solid #45a29e;
    padding-bottom: 10px;
}

section p {
    line-height: 1.6;
}

/* Estilo de la lista de cursos */
.box {
    background-color: #0b0c10;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid #45a29e;
}

.lista {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.lista li {
    margin: 20px 0; /* Aumentamos el margen superior e inferior para más espacio */
    padding: 10px 15px; /* Añadimos padding interno para crear más espacio entre el contenido y los bordes */
    border-bottom: 1px solid #45a29e; /* Añadimos una línea divisoria entre los elementos de la lista */
}


.lista li a {
    color: #66fcf1;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    display: block; /* Hace que el enlace ocupe todo el espacio del contenedor */
    padding-bottom: 5px; /* Espacio adicional debajo del enlace */
}

.lista li a:hover {
    color: #45a29e;
}

.texto {
    margin-top: 10px; /* Aumentamos el margen superior para más separación del enlace */
    color: #c5c6c7;
}

/* Estilo de la página de pruebas de música */
h1 {
    color: #66fcf1;
    text-align: center;
}

div {
    background-color: #1f2833;
    padding: 20px;
    margin: 20px auto;
    border-radius: 5px;
    border: 1px solid #45a29e;
    max-width: 600px;
    text-align: center;
}

p {
    color: #c5c6c7;
}

audio, img {
    margin-top: 10px;
    max-width: 100%;
}

